@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,textarea,select{	
	margin:0px;
	padding:0px;
}
body,html{
	font: 12px "微软雅黑",Arial;	
}
li{
	list-style:none;	
}
a{
	text-decoration:none;
	font-size: 12px;	
}
a:hover{

}
h1,h2,h3,h4,h5,h6,strong,b{
	font-weight:normal;
	font-size:100%;	
}
i,em{
	font-style:normal;	
}
input{
	outline:none;	
}
.clearfix:after{
	content:' ';
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;	
}
