
/* 商品详情 */
#titleShow_wrap{
    height: 45px;
    z-index: -1;
}
.titleShow{
    height: 45px;
    border-bottom: 1px solid #E5E6E6;
    overflow: hidden;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.titleShow h2{
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 45px;
    margin-left: 10px;
    float: left;
}
.titleShow h2 span{
    color: #A10000;
    font-size: 12px;
    margin-left: 20px;
}
.titleShow ul{
    float: right;
    margin-right: 13px;
}
.titleShow ul li{
    float: left;
}
.titleShow ul li a{
    /* display: block; */
    color: #808080;
    font-size: 14px;
    padding: 0 13px;
    line-height: 45px
}
/* 放大镜 */
#fdj_wrap{
    height: 426px;
}
.fdj{
    
}
.box {
    /* padding: 20px; */
    width: 634px;
    height: 426px;
    padding-top: 40px;
    float: left;
}
.show-image {
    position: relative;
    top: -166px;
    left: 150px;
    width: 400px;
    height: 400px;
    font-size: 0;
    border: 1px solid #ccc;
    overflow: hidden;
}
.show-image img {
    width: 400px;
    height: 400px;
}
.filter {
    position: absolute;
    left: 0px;
    top:0;
    /* width: 150px;
    height: 150px; */
    background: rgba(255,255,255,0.6);
    cursor: move;
    display: none;
}
.img-box {
    width: 70px;
}
.img-box>li {
    display: inline-block;
    border: 1px solid transparent;
    margin-bottom: 10px;
}
.img-box>li img{
    max-width: 100%;
    max-height: 100%;
}
.img-box>li:hover,
.img-box>li.active {
    border: 2px solid #A10000;
}
.show-big-image {
    position: absolute;
    left: 670px;
    top: 85px;
    width: 440px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #000;
    display: none;
}
.show-big-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 1080px;
}
.fdj .box_right{
    float: left;
    margin-top: 30px;
}
.top_price i{
    color: #A10000;
    font-size: 12px;
}
.top_price span{
    color: #A10000;
    font-size: 20px;
    font-weight: bold;
}
.top_price strong a{
    color: #A10000;
    margin-left: 20px;
}
.getColor{
    margin-top: 24px;
}
.getColor span{
    color: #000;
    font-size: 12px;
    float: left;
}
.getColor ul{
    float: left;
}
.getColor ul li{
    width: 94px;
    height: 36px;
    border: 1px solid #B4B4B4;
    float: left;
    margin: 0 5px;
    background: url(../../image/fdj/color01.jpg) no-repeat;
}
.getColor ul li:nth-child(2){
    background: url(../../image/fdj/color02.jpg) no-repeat;
}
.getColor ul li:nth-child(3){
    background: url(../../image/fdj/color03.jpg) no-repeat;
}
.getColor ul li a{
    display: block;
    width: 94px;
    height: 36px; 
    line-height: 36px;  
    vertical-align: middle;
    padding-left: 40px;
}
