@charset "utf-8";
/* CSS Document */
html,body,ul,li,ol,ul,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
body,html{
	font:12px "宋体",Arial;	
	color: #333333;
}
li{
	list-style:none;	
}
a{
	text-decoration:none;
	color:#6C6C6C;
	font-size:12px;	
}
h1,h2,h3,h4,h5,h6,strong,b{
	font-weight:normal;
	font-size:100%;	
}
i,em{
	font-style:normal;	
}
input{
	outline:none;	
}
.clearfix:after{
	content:' ';
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;	
}
