*{
    margin: 0;padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.show{
    margin: 100px auto;
    width: 1200px;
    height: 535px;
    position: relative;
}
ul li{
    position: absolute;
    display: none;
}
ol {
    position: absolute;
    right: 500px;
    bottom: 23px;
    width: 200px;
}

ol li {
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    text-align: center;
    border-radius: 50%;
    cursor: default;
    background-color: #dddddd;
    cursor:pointer;
}
ul li.act {
    display: block;
}
ol li.set {
    background: #b42025;
}
.left-btn{
    position: absolute;
    top: 235px;
    left: 10px;
    width: 25px;
    height: 60px;
    background-image: url(../image/lunbo-tip.png);
    z-index: 9;
}
.right-btn{
    position: absolute;
    top: 235px;
    left: 1165px;
    width: 25px;
    height: 60px;
    background-image: url(../image/lunbo-tip.png);
    background-position: 26px 0;
    z-index: 9;
}
.left-btn:hover{
    background-position: 0 64px;
    cursor:pointer;
}
.right-btn:hover{
    background-position: 26px 64px;
    cursor:pointer;
}